In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../raw_data/Covid_Data/france_covid_data.csv', sep=",")
df = df[['date','dc_tot']]
df = df.fillna(0)
df['dc_tot'] = df['dc_tot'].astype(int)
df = df.rename(columns={"date": "date", "dc_tot": "cumDeath"})
df

            date  cumDeath
0     2020-01-23         0
1     2020-01-24         0
2     2020-01-25         0
3     2020-01-26         0
4     2020-01-27         0
...          ...       ...
1102  2023-01-29    164117
1103  2023-01-30    164176
1104  2023-01-31    164233
1105  2023-02-01    164286
1106  2023-02-02    164338

[1107 rows x 2 columns]