In [2]:
import pandas as pd

In [11]:
df = pd.read_csv('../raw_data/Covid_Data/germany_covid_data.csv', sep=",")
df = df[['time_iso8601','sum_deaths']]
df['time_iso8601']= df['time_iso8601'].str.split('T').str[0]
df = df.rename(columns={"time_iso8601": "date", "sum_deaths": "cumDeath"})
df

            date  cumDeath
0     2020-03-02         0
1     2020-03-03         0
2     2020-03-04         2
3     2020-03-05         3
4     2020-03-06         7
...          ...       ...
1056  2023-01-22    165278
1057  2023-01-23    165304
1058  2023-01-24    165310
1059  2023-01-25    165313
1060  2023-01-26    165314

[1061 rows x 2 columns]