In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('../raw_data/Covid_Data/italy_covid_data.txt', sep=",")
df = df[['Date','Dead']]
df = df.rename(columns={"Date": "date", "Dead": "cumDeath"})
df = df.groupby(['date']).sum()
df

            cumDeath
date
2020-02-24         7
2020-02-25        10
2020-02-26        12
2020-02-27        17
2020-02-28        21
...              ...
2023-01-01    184972
2023-01-02    185058
2023-01-03    185198
2023-01-04    185295
2023-01-05    185417

[1047 rows x 1 columns]