In [2]:
import pandas as pd

In [8]:
df = pd.read_csv(r'../raw_data/Covid_Data/netherlands_covid_data.csv', sep=";")
df = df.rename(columns={"Date_of_report": "date", "Deceased": "cumDeath"})
df['date'] = pd.to_datetime(df['date'])
df['date'] = df['date'].dt.date
df = df.groupby(['date']).sum()
df['cumDeath'] = df['cumDeath'].astype(int)
df.to_csv('../processed_data/cumDeathNetherlands.csv')
df

/var/folders/m1/788d4jvn7wz8lm3qp0_815hc0000gn/T/ipykernel_5986/3463295995.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby(['date']).sum()

            Version  Total_reported  Hospital_admission  cumDeath
date
2020-03-13     2936             804                 115         9
2020-03-14     2936             959                 136        12
2020-03-15     2936            1135                 162        19
2020-03-16     2936            1413                 205        23
2020-03-17     2936            1705                 314        40
...             ...             ...                 ...       ...
2023-03-17     8520        25816599            10648935  10648935
2023-03-21    11360        34426126            14198580  14198580
2023-03-24     8520        25823445            10648935  10648935
2023-03-28    11360        34434105            14198580  14198580
2023-03-31     8520        25828395            10648935  10648935

[916 rows x 4 columns]

In [9]:
df = pd.read_csv('../raw_data/Covid_Data/owid-covid-data.csv', sep=",")
df = df.loc[df['location'] == "Netherlands"]
df = df[['date','total_deaths']]
df = df.fillna(0)
df = df.rename(columns={"date": "date", "total_deaths": "cumDeath", "total_cases":"cumCases"})
df['cumDeath'] = df['cumDeath'].astype(int)
df

              date  cumDeath
158590  2020-02-27         0
158591  2020-02-28         0
158592  2020-02-29         0
158593  2020-03-01         0
158594  2020-03-02         0
...            ...       ...
159657  2023-01-29     23079
159658  2023-01-30     23079
159659  2023-01-31     23079
159660  2023-02-01     23081
159661  2023-02-02     23081

[1072 rows x 2 columns]

In [34]:
df.to_csv('../processed_data/cumDeathNetherlands.csv', index=False)