In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../raw_data/Covid_Data/uk_covid_data.csv', sep=",")
df

,areaCode,areaName,areaType,date,cumDailyNsoDeathsByDeathDate
0,K02000001,United Kingdom,overview,2023-01-13,217262
1,K02000001,United Kingdom,overview,2023-01-12,217230
2,K02000001,United Kingdom,overview,2023-01-11,217166
3,K02000001,United Kingdom,overview,2023-01-10,217120
4,K02000001,United Kingdom,overview,2023-01-09,217048
...,...,...,...,...,...
1075,K02000001,United Kingdom,overview,2020-02-03,2
1076,K02000001,United Kingdom,overview,2020-02-02,2
1077,K02000001,United Kingdom,overview,2020-02-01,1
1078,K02000001,United Kingdom,overview,2020-01-31,1
1079,K02000001,United Kingdom,overview,2020-01-30,1

In [4]:
df = df[['date','cumDailyNsoDeathsByDeathDate']]
df = df.iloc[::-1]